# Base URL: https://go.musicpresence.app
:80 {
	redir /discord-invite https://discord.com/invite/7rc8dWD4ug
	# TODO Change to https://docs.musicpresence.app/legal/privacy-policy/
	redir /privacy-policy https://github.com/ungive/discord-music-presence/blob/v2.3.5/PRIVACY.md
	redir /scrobbling-license-terms https://docs.musicpresence.app/legal/scrobbling-license-terms/
	redir /troubleshooting https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md
	redir /create-new-issue https://github.com/ungive/discord-music-presence/issues/new/choose
	redir /discord-download https://discord.com/download
	redir /discord-activity-sharing https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md#check-your-discord-settings-first
	redir /upcoming-browser-support https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md#web-versions-of-streaming-services-are-not-supported-yet
	redir /media-player-plugins https://github.com/ungive/discord-music-presence/blob/master/documentation/supported-media-players.md#required-plugins-and-helper-programs
	redir /supported-media-players https://nimigames68.github.io/Music-Presence-Players
	redir /roadmap https://github.com/ungive/discord-music-presence/blob/master/documentation/roadmap.md
	redir /submit-media-player https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md#if-your-media-player-is-still-not-detected
	redir /translate https://github.com/ungive/discord-music-presence/blob/master/documentation/translations.md
	redir /spotify-developer-dashboard https://developer.spotify.com/dashboard
	redir /browser-extension https://github.com/ungive/media-control-extension#readme

	redir /donate https://musicpresence.app/donate
	redir /donate/github-sponsors https://github.com/sponsors/ungive
	redir /donate/buy-me-a-coffee https://buymeacoffee.com/jonasvandenberg
	redir /donate/ko-fi https://ko-fi.com/jonasvandenberg
	redir /donate/patreon https://www.patreon.com/musicpresence

	# FIXME Redirect to a dedicated roadmap page.
	redir /roadmap https://musicpresence.app/#timeline
	redir /roadmap/scrobbling https://musicpresence.app/#timeline
	redir /roadmap/browser-support https://musicpresence.app/#timeline
	redir /roadmap/listening-along https://musicpresence.app/#timeline

	redir /documentation https://github.com/ungive/discord-music-presence/tree/master/documentation
	redir /docs/spotify-api-credentials https://docs.musicpresence.app/discord-presence/music-apis/#spotify-api

	respond "Not found: {path}" 404
}

# Legacy redirects:
# - automatic-updates-docs.musicpresence.app
# - changelog-md.musicpresence.app
# - changelog.musicpresence.app
# - contribute.musicpresence.app
# - cover-images-proxy-docs.musicpresence.app
# - discord-invite.musicpresence.app
# - donate.musicpresence.app
# - download.musicpresence.app
# - get.musicpresence.app
# - patreon.musicpresence.app
# - privacy.musicpresence.app
# - roadmap.musicpresence.app
# - self-hosted-cover-image-proxy-docs.musicpresence.app
# - supported-players.musicpresence.app
# - translate.musicpresence.app
# - troubleshooting.musicpresence.app
