# Base URL: https://go.musicpresence.app
:80 {
	redir /discord-invite https://discord.com/invite/7rc8dWD4ug
	redir /scrobbling-license-terms https://docs.musicpresence.app/legal/scrobbling-license-terms/
	redir /create-new-issue https://github.com/ungive/discord-music-presence/issues/new/choose
	redir /discord-download https://discord.com/download
	redir /supported-media-players https://docs.musicpresence.app/media-players/
	redir /roadmap https://github.com/ungive/discord-music-presence/blob/master/documentation/roadmap.md
	redir /spotify-developer-dashboard https://developer.spotify.com/dashboard
	redir /browser-extension https://github.com/ungive/media-control-extension#readme
	redir /download https://docs.musicpresence.app/setup/install/
	redir /contribute https://github.com/ungive/discord-music-presence/blob/master/documentation/contributing.md
	redir /changelog https://github.com/ungive/discord-music-presence/blob/master/CHANGELOG.md
	redir /privacy-policy https://docs.musicpresence.app/legal/privacy-policy/
	redir /legal https://docs.musicpresence.app/legal/

	redir /donate https://musicpresence.app/donate?utm_source=go.musicpresence.app&utm_medium=redirect
	redir /donate/github-sponsors https://github.com/sponsors/ungive
	redir /donate/buy-me-a-coffee https://buymeacoffee.com/jonasvandenberg
	redir /donate/ko-fi https://ko-fi.com/jonasvandenberg
	redir /donate/patreon https://www.patreon.com/musicpresence

	# FIXME Redirect to a dedicated roadmap page.
	redir /roadmap https://github.com/ungive/discord-music-presence/blob/master/documentation/roadmap.md
	redir /roadmap/scrobbling https://github.com/ungive/discord-music-presence/issues/365
	redir /roadmap/browser-support https://github.com/ungive/discord-music-presence/issues/5
	redir /roadmap/listening-along https://github.com/ungive/discord-music-presence/issues/319

	redir /documentation https://docs.musicpresence.app
	redir /docs/spotify-api-credentials https://docs.musicpresence.app/discord-presence/music-apis/#spotify-api
	redir /docs/self-hosted-cover-image-proxy https://github.com/ungive/discord-music-presence/blob/master/documentation/self-hosted-cover-image-proxy.md
	redir /docs/discord-activity-sharing https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md#check-your-discord-settings-first
	redir /docs/media-player-plugins https://github.com/ungive/discord-music-presence/blob/master/documentation/supported-media-players.md#required-plugins-and-helper-programs
	redir /docs/submit-media-player https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md#if-your-media-player-is-still-not-detected
	redir /docs/translation-guide https://github.com/ungive/discord-music-presence/blob/master/documentation/translations.md
	redir /docs/troubleshooting https://github.com/ungive/discord-music-presence/blob/master/documentation/troubleshooting.md

	# Privacy policy redirect for each version of the app. Redirects to the same page for all versions for now.
	# In the future, the following query parameter could be added: ?version={re.version_privacy.1}
	@version_privacy path_regexp version_privacy ^/version/([^/]+)/privacy-policy$
	redir @version_privacy https://docs.musicpresence.app/legal/privacy-policy/

	# License agreement redirect for each version of the app. Redirects to the same page for all versions for now.
	# In the future, the following query parameter could be added: ?version={re.version_license.1}
	@version_license path_regexp version_license ^/version/([^/]+)/license-agreement$
	redir @version_license https://docs.musicpresence.app/legal/license-agreement/

	respond "Not found: {path}" 404
}

# Legacy redirects:
# - automatic-updates-docs.musicpresence.app
# - changelog-md.musicpresence.app
# - changelog.musicpresence.app
# - contribute.musicpresence.app
# - cover-images-proxy-docs.musicpresence.app
# - discord-invite.musicpresence.app
# - donate.musicpresence.app
# - download.musicpresence.app
# - get.musicpresence.app
# - patreon.musicpresence.app
# - privacy.musicpresence.app
# - roadmap.musicpresence.app
# - self-hosted-cover-image-proxy-docs.musicpresence.app
# - supported-players.musicpresence.app
# - translate.musicpresence.app
# - troubleshooting.musicpresence.app
